.upload-card {
    max-width: 40%;
    margin: 2em;
  }
  
  .form {
    max-width: 40%;
    margin: 2em;
  }
  
  .forms {
    margin-left: 0.7em;
    // max-width: 500px;
    // width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .spacer {
    display: inline-block;
    flex: 1 1 auto;
  }
  
  .inputs {
    max-width: 50%;
    // margin: 2em;
  }
  
  .button-class {
    margin-left: 2.3em;
    margin-top: 1em;
    width: 30em;
    background-color: #009688;
    color: white;
  }