<div style="display: flex; flex-grow: grow" class="spacer">
    <div class="intro-text"> 
        <p>
        
        This web application was developed in the context of the NanoSolveIT project for <b>simulating the biodistribution of TiO2 nanoparticles in humans</b> after inhalation exposure.
        The PBPK model was initially developed on rats using the biokinetic data of <a href=" https://doi.org/10.1186/s12989-019-0303-7">Kreyling et al. (2019)</a> that concern <b>TiO2 nanoparticles of 22 nm diameter</b>
        and was subsequently extrapolated to humans. 
        Therefore, additional uncertainty should be considered in the case of distant nanoparticle sizes. 
        </p>
        <br>
        
        
      </div>
    
      <mat-card class="nano-card">
          <mat-card-header>
              <img src="assets/SmallLogo.jpg" class="nanosolveit-logo">
          </mat-card-header>
          <mat-card-content>
            
            <br><br>
            <p>
              This work received funding from the European Union's Horizon 2020 research and innovation program via 
              <a href="http://www.nanosolveit.eu">NanoSolveIT project</a>
              under grant agreement number 814572.
            </p>
          </mat-card-content>
          
        </mat-card>
      
</div>