<div style="display: flex; flex-grow: grow" class="spacer">
    <div class="intro-text"> 
        <p>
        
        This web application was developed in the context of the NanoSolveIT project for <b>simulating the biodistribution of Engineered Nanomaterials (ENMs) in 
        freshwater ecosystems</b>. The biokinetic model used (nanoBio) has been developed by <a href=" https://doi.org/10.1021/acssuschemeng.8b01691">Garner et al. (2018)</a> 
        for describing the biodistribution of either <b>TiO2</b>, <b>ZnO</b> or <b>CUO</b> ENMs in freshwater ecosystems. 
        The system includes <b>seven species</b>: two phytoplankton species (S. capricornutum and F. crotonensis), a zooplankton (D. magna), a benthic invertebrate (H. azteca), 
        a bivalve (V. constricta), a planktivorous fish (P. promelas) and an upper trophic level fish (O. mykiss). The ecosystem also includes water, particulate matter 
        and sediment and the ENMs can produce the corresponding dissolved metal ion via dissolution. Each species is <b>exposed to</b> either the <b>ENM</b> or the <b>dissolved ion</b> via the water,
        suspended particulates or dietary ingestion. Each organism is <b>modeled as a two-compartmental motel</b>, one for describing the <b>uptake, elimination and accumulation of ENMs</b> 
        and one for describing the <b>uptake, elimination and accumulation of dissolved metal ion</b>. Dissolution inside the organism is also considered by linking of the two 
        subcompartments. 
        </p>
        <br>
        
        <p>
          For a more details please read the corresponding publication, available at <a href="https://doi.org/10.1021/acssuschemeng.8b01691">https://doi.org/10.1021/acssuschemeng.8b01691</a>


        </p>
      </div>
    
      <mat-card class="nano-card">
          <mat-card-header>
              <img src="assets/SmallLogo.jpg" class="nanosolveit-logo">
          </mat-card-header>
          <mat-card-content>
            
            <br><br>
            <p>
              This work received funding from the European Union's Horizon 2020 research and innovation program via 
              <a href="http://www.nanosolveit.eu">NanoSolveIT project</a>
              under grant agreement number 814572.
            </p>
          </mat-card-content>
          
        </mat-card>
      
</div>